:root {
    --black: #2E3440;
    --darkGray: #3B4252;
    --white: #ECEFF4;
}

html {
    background-color: var(--black);
}

canvas {
    background: var(--darkGray);
    position: absolute;
    margin: 0 calc(50% - 250px);
}

.score {
    color: var(--white);
    text-align: center;
    font-size: 50px;
    position: relative;
}

.instructions {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0;
    text-align: right;
}

.title {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 50px;
}

.footer {
    background-color: var(--darkGray);
    color: var(--white);
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}