:root {
    --black: #2E3440;
    --darkGray: #3B4252;
    --white: #ECEFF4;
}

html {
    background-color: var(--black);
}

canvas {
    background: var(--darkGray);
    position: absolute;
    margin: 0 calc(50% - 250px);
}

h1 {
    color: var(--white);
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

.instructions {
    color: var(--white);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#top {
    margin-top: 190px;
}